@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
    @apply accent-yellow-500;
  }

  button,
  a {
    transition: opacity 150ms,
      transform 300ms cubic-bezier(0.175, 0.885, 0.32, 2);
  }
  button:hover,
  a:hover {
    opacity: 0.8;
  }
  button:active,
  a:active {
    transform: scale(0.95);
  }

  :disabled,
  .disabled {
    pointer-events: none;
  }
  button:disabled {
    opacity: 0.7;
  }
}

@layer utilities {
  .border-base {
    @apply border-2 border-opacity-30 rounded-md;
  }

  .primary {
    @apply border-base bg-yellow-950 border-yellow-500;
  }
  .secondary {
    @apply border-base bg-stone-800 border-stone-100;
  }
  .tertiary {
    @apply border-base bg-orange-950 border-orange-500;
  }
  .neutral {
    @apply border-base bg-slate-950 border-slate-300;
  }
  .success {
    @apply border-base bg-green-950 border-green-500;
  }
  .error {
    @apply border-base bg-red-950 border-red-500;
  }
}

@layer components {
  .button {
    @apply w-fit px-2 py-1 primary;
  }
}
