:root {
  --background: #f9faef;
  --surface: #eeefe3;
  --text: #1a1c16;
  --primary: #4c662b;
  --on-primary: #ffffff;
  --primary--variant: #cdeda3;
  --on-primary--variant: #102000;
  --secondary--variant: #dce7c8;
  --on-secondary--variant: #151e0b;
  --tertiary--variant: #bcece7;
  --on-tertiary--variant: #00201e;
  --outline: #75796c;
}
:root[data-theme="dark"] {
  --background: #12140e;
  --surface: #1e201a;
  --text: #e2e3d8;
  --primary: #b1d18a;
  --on-primary: #1f3701;
  --primary--variant: #354e16;
  --on-primary--variant: #cdeda3;
  --secondary--variant: #404a33;
  --on-secondary--variant: #dce7c8;
  --tertiary--variant: #1f4e4b;
  --on-tertiary--variant: #bcece7;
  --outline: #8f9285;
}

html {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background);
  color: var(--text);

  padding: 1rem;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

input {
  border-radius: 1rem;
  border: none;
  outline: 1px solid var(--outline);
  padding: 0.5rem 2rem;

  background-color: var(--surface);
  color: var(--text);

  font-size: 1.5rem;
}
input:focus {
  outline: 2px solid var(--primary);
}

.top {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: 500;
}
nav {
  margin-top: 2rem;

  font-size: 0.875rem;
  font-weight: 500;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* hidden radio input */
nav li,
.hidden-input-container {
  position: relative;
}
nav input,
.hidden-input {
  position: absolute;
  inset: 0;
  opacity: 0;
}
nav label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 4rem 0.5rem 3.5rem;

  border-radius: 9999px;

  color: var(--primary);
}
nav input:checked + label {
  background-color: var(--primary);
  color: var(--on-primary);

  font-weight: 600;
}

main {
  margin-top: 4rem;
}
section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.books {
  display: flex;
  --books-gap: 1rem;
  gap: var(--books-gap);
  flex-wrap: wrap;

  margin: auto;
  --book-width: 15rem;
  --books-per-line: 4;
  max-width: calc(
    var(--book-width) * var(--books-per-line) + var(--books-gap) *
      (var(--books-per-line) - 1)
  );
}
.book {
  /* override button */
  align-items: start;
  text-align: start;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: end;

  width: var(--book-width);
  height: 24rem;
  padding: 1.5rem;

  background-color: var(--surface);
  border-radius: 1rem;

  transition:
    opacity 200ms,
    transform 300ms cubic-bezier(0.175, 0.885, 0.32, 2);
}
.book:hover {
  opacity: 0.7;
}
.book:active {
  transform: scale(0.95);
}
.book:nth-of-type(3n - 23) {
  background-color: var(--primary--variant);
  color: var(--on-primary--variant);
}
.book:nth-of-type(3n - 1) {
  background-color: var(--secondary--variant);
  color: var(--on-secondary--variant);
}
.book:nth-of-type(3n) {
  background-color: var(--tertiary--variant);
  color: var(--on-tertiary--variant);
}
